main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  padding: 10px;
}
body {
  background-image: url("assets/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("assets/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(18px);
  z-index: -1;
}

nav {
  padding: 0.5rem;
  display: flex;
  justify-content: right;
  gap: 2rem;
  border-radius: 10px;
  border: 1px solid #121d2c;
  background-image: url("assets/nav-bg.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-right: 40px;
}
nav a {
  color: white;
  text-decoration: none;
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 800;
  font-style: normal;
  background: #121d2c;
  padding: 5px 10px;
  border-radius: 5px;
}
nav a:hover {
  background: #294368;
}

.battleBox {
  width: 400px;
  height: 400px;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #fff;
}
.row {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.cssBattleBox {
  /* Your design goes here */
}

img {
  width: 100%;
  height: 100%;
}

.logo {
  height: 200px;
  justify-content: center;
}

h1 {
  color: #fff;
  text-align: center;
}
h4 {
  color: #fff;
  text-align: center;
  padding-bottom: 100px;
}

.contact-card {
  background: white;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  font-family:'Darker Grotesque';
}

.contact-card h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: white;
}

.contact-card form {
  display: flex;
  flex-direction: column;
}

.contact-card input,
.contact-card textarea {
  margin-bottom: 1rem;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.contact-card button {
  padding: 0.75rem;
  background-color: #4a90e2;
  color: white;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.contact-card button:hover {
  background-color: #357ab8;
}

textarea {
  padding: 0.75rem;
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
th,
td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #f4f4f4;
}
.para{
  color:white;
}